<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Usuario por CI</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#buscarForm").submit(function(event) {
                event.preventDefault(); // Evitar el envío del formulario por defecto

                var ci = $("#ci").val(); // Obtener el valor de CI del campo de entrada

                // Enviar la solicitud GET al controlador
                $.get("/buscar?ci=" + ci);
            });
        });
    </script>
</head>
<body>
</body>
</html>
